<!-- Choose Method -->
<div class="overlay-bg"></div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="container">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="row">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="modal-header">
                        <h4 class="text-center text--bolder">Как искаш да проектираш своите визитки?</h4>
                    </div>
                </div>
            </div>

            <div class="modal-content">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="#">
                            <div class="modal-box">
                                <div class="row">
                                    <div class="col-lg-4 col-xs-4 col-sm-12">
                                        <div class="modal-img-content img-box--1">
                                            <div class="modal-img">
                                                <img src='http://placehold.it/70x70' class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-xs-8 col-sm-12 col-md-12">
                                        <div class="arrow img-box--1"></div>
                                        <div class="modal-text">
                                            <h5 class="text--bolder">Използвай нашите паблони</h5>
                                            <ul>
                                                <li>Looking for inspiration</li>
                                                <li>Want simple customisation</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="#">
                            <div class="modal-box">
                                <div class="row">
                                    <div class="col-lg-4 col-xs-4 col-sm-12">
                                        <div class="modal-img-content img-box--2">
                                            <div class="modal-img">
                                                <img src='http://placehold.it/70x70' class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-xs-8 col-sm-12 col-md-12">
                                        <div class="arrow img-box--2"></div>
                                        <div class="modal-text">
                                            <h5 class="text--bolder">Направи си ги сам</h5>
                                            <ul>
                                                <li>Looking for inspiration</li>
                                                <li>Want simple customisation</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="#">
                            <div class="modal-box">
                                <div class="row">
                                    <div class="col-lg-4 col-xs-4 col-sm-12">
                                        <div class="modal-img-content img-box--3">
                                            <div class="modal-img">
                                                <img src='http://placehold.it/70x70' class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-xs-8 col-sm-12 col-md-12">
                                        <div class="arrow img-box--3"></div>
                                        <div class="modal-text">
                                            <h5 class="text--bolder">Качи готов дизайн</h5>
                                            <ul>
                                                <li>Looking for inspiration</li>
                                                <li>Want simple customisation</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>