<footer>
    <div class="p-v--big">
        <div class="container">
            <div class="footer-content">
            <div appDropdown class="col-2/5 footer-nav--items">
                <div class="footer-nav--item--title angle-down"><h5>Products <span class="fa fa-angle-down visible-xs-block"></span></h5></div>
                <div class="footer-nav--list-wrap">
                    <ul class="col-1/2 footer-nav--list m-b--0">
                        <li>
                            <a class="footer-nav--link" alt='...'>All products</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" routerLink="/business-cards" alt='...'>Business Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Square Business Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Mini Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Flyers</a>
                        </li>
                    </ul>
                    <ul class="col-1/2 footer-nav--list m-b--0">
                        <li>
                            <a class="footer-nav--link" alt='...'>All products</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" routerLink="/business-cards" alt='...'>Business Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Square Business Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Mini Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Flyers</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div appDropdown class="col-1/5 footer-nav--items">
                <div class="footer-nav--item--title angle-down"><h5>Products <span class="fa fa-angle-down visible-xs-block"></span></h5></div>
                <div class="footer-nav--list-wrap">
                    <ul class="footer-nav--list m-b--0">
                        <li>
                            <a class="footer-nav--link" alt='...'>All products</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" routerLink="/business-cards" alt='...'>Business Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Square Business Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Mini Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Flyers</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div appDropdown class="col-1/5 footer-nav--items">
                <div class="footer-nav--item--title angle-down"><h5>Products <span class="fa fa-angle-down visible-xs-block"></span></h5></div>
                <div class="footer-nav--list-wrap">
                    <ul class="footer-nav--list m-b--0">
                        <li>
                            <a class="footer-nav--link" alt='...'>All products</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" routerLink="/business-cards" alt='...'>Business Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Square Business Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Mini Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Flyers</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div appDropdown class="col-1/5 footer-nav--items">
                <div class="footer-nav--item--title angle-down"><h5>Products <span class="fa fa-angle-down visible-xs-block"></span></h5></div>
                <div class="footer-nav--list-wrap">
                    <ul class="footer-nav--list m-b--0">
                        <li>
                            <a class="footer-nav--link" alt='...'>All products</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" routerLink="/business-cards" alt='...'>Business Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Square Business Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Mini Cards</a>
                        </li>
                        <li>
                            <a class="footer-nav--link" alt='...'>Flyers</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</footer>