<div class="product-menu">
    <div class="container">
        <div class="pricing-and-design">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pricing-tab" data-toggle="tab" href="#pricing-nav-tab" role="tab" aria-controls="pricing" aria-selected="true">Цени</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="about-standart-tab" data-toggle="tab" href="#about-standart-nav-tab" role="tab" aria-controls="about-standart" aria-selected="false">За "Стандартен"</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="standart-tab" data-toggle="tab" href="#standart-nav-tab" role="tab" aria-controls="standart" aria-selected="false">Стандартен</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="square-tab" data-toggle="tab" href="#square-nav-tab" role="tab" aria-controls="square" aria-selected="false">Квадрат</a>
                </li>
            </ul>
        </div>
    </div>
</div>