<div class="scroll-items sticky-nav">
    <div class="container sticky-content">
        <ul class="nav second-nav">
            <li><a href="#">Облицовки</a></li>
            <li><a href="#size">Размер насоки</a></li>
            <li><a href="../product-menu/product-menu.component.html/#product-specific-menu">Цени и насоки за дизайн</a></li>
            <li><a href="#">Повече за визитките</a></li>
        </ul>
        <div class="button-submit sticky-button">
            <a class="btn btn-primary" href="#bodyPage">Продължи</a>
        </div>
    </div>
</div>
<div class="skicky-nav-space"></div>