<section class="p-v--big">
    <div class="container">
        <div class="items-wrap row-centered">
            <div class="col-md-4 col-sm-6">
                <div class="item-content">
                    <div class="item-img">
                        <a href='#'>
                            <figure>
                                <img class="img-responsive img-center" src="http://placehold.it/752x376" srcset="http://placehold.it/752x376, http://placehold.it/752x376 2x" alt="....." title=".....">
                            </figure>
                        </a>
                    </div>
                    <div class="item-text">
                        <h5>Визитки</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="item-link"><a href='#' class="angle-right">Поръчай визитки <span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="item-content">
                    <div class="item-img">
                        <a href='#'>
                            <figure>
                                <img class="img-responsive img-center" src="http://placehold.it/752x376" srcset="http://placehold.it/752x376, http://placehold.it/752x376 2x" alt="....." title=".....">
                            </figure>
                        </a>
                    </div>
                    <div class="item-text">
                        <h5>Визитки</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="item-link"><a href='#' class="angle-right">Поръчай визитки <span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="item-content">
                    <div class="item-img">
                        <a href='#'>
                            <figure>
                                <img class="img-responsive img-center" src="http://placehold.it/752x376" srcset="http://placehold.it/752x376, http://placehold.it/752x376 2x" alt="....." title=".....">
                            </figure>
                        </a>
                    </div>
                    <div class="item-text">
                        <h5>Визитки</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="item-link"><a href='#' class="angle-right">Поръчай визитки <span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="item-content">
                    <div class="item-img">
                        <a href='#'>
                            <figure>
                                <img class="img-responsive img-center" src="http://placehold.it/752x376" srcset="http://placehold.it/752x376, http://placehold.it/752x376 2x" alt="....." title=".....">
                            </figure>
                        </a>
                    </div>
                    <div class="item-text">
                        <h5>Визитки</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="item-link"><a href='#' class="angle-right">Поръчай визитки <span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="item-content">
                    <div class="item-img">
                        <a href='#'>
                            <figure>
                                <img class="img-responsive img-center" src="http://placehold.it/752x376" srcset="http://placehold.it/752x376, http://placehold.it/752x376 2x" alt="....." title=".....">
                            </figure>
                        </a>
                    </div>
                    <div class="item-text">
                        <h5>Визитки</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="item-link"><a href='#' class="angle-right">Поръчай визитки <span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="item-content">
                    <div class="item-img">
                        <a href='#'>
                            <figure>
                                <img class="img-responsive img-center" src="http://placehold.it/752x376" srcset="http://placehold.it/752x376, http://placehold.it/752x376 2x" alt="....." title=".....">
                            </figure>
                        </a>
                    </div>
                    <div class="item-text">
                        <h5>Визитки</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="item-link"><a href='#' class="angle-right">Поръчай визитки <span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="item-content">
                    <div class="item-img">
                        <a href='#'>
                            <figure>
                                <img class="img-responsive img-center" src="http://placehold.it/752x376" srcset="http://placehold.it/752x376, http://placehold.it/752x376 2x" alt="....." title=".....">
                            </figure>
                        </a>
                    </div>
                    <div class="item-text">
                        <h5>Визитки</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="item-link"><a href='#' class="angle-right">Поръчай визитки <span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="item-content">
                    <div class="item-img">
                        <a href='#'>
                            <figure>
                                <img class="img-responsive img-center" src="http://placehold.it/752x376" srcset="http://placehold.it/752x376, http://placehold.it/752x376 2x" alt="....." title=".....">
                            </figure>
                        </a>
                    </div>
                    <div class="item-text">
                        <h5>Визитки</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="item-link"><a href='#' class="angle-right">Поръчай визитки <span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="item-content">
                    <div class="item-img">
                        <a href='#'>
                            <figure>
                                <img class="img-responsive img-center" src="http://placehold.it/752x376" srcset="http://placehold.it/752x376, http://placehold.it/752x376 2x" alt="....." title=".....">
                            </figure>
                        </a>
                    </div>
                    <div class="item-text">
                        <h5>Визитки</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="item-link"><a href='#' class="angle-right">Поръчай визитки <span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>