    <section class="media-wrap"> 
        <picture>
            <source media="only screen and (min-width: 40.0625em)" srcset="http://placehold.it/1920x530, http://placehold.it/3840x1060 2x">
            <img srcset="http://placehold.it/640x350, http://placehold.it/1280x700 2x" alt="....." class="img-banner">
        </picture>
        
        <div class="media-content media-block">
            <div class="container">
                <div >
                    <div class="col-lg-5 col-md-6">
                        <header> 
                            <h1 class="page-title m-0">Take a look of our products</h1>
                            <p class="text-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <button (click)="onLoadBusinessCards()" type="button" class="btn btn-primary">Shop Business Cards</button>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </section>
    